/* Variables */

:root {
  --basik-black: #000000;
  --basik-neutral: #EEEEEE;
  --basik-extra-red: #FB565A;
  --basik-red: #E74246;
  --basik-dark-red: #D7373B;
  --basik-dark-grey: #283136;
  --basik-light-green: #00CA74;
  --basik-dark-yellow: #EFC849;
  --basik-white: #FFFFFF;
  --basik-grey: #444444;
  --basik-light-grey: #D5D5D5;
  --basik-dark: #231F20;
  --basik-extra-grey: #A6A6A6;
  --basik-dark-neutral: #D7DCDE;
  --basik-gray: #666666;

}

/* Global */

body {
  font-family: "Roboto" Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 1200px;
  color: #283136;
  background-color: var(--basic-white);
  background-position: top center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Navigation */

.main-navigation {
  font-family: "Roboto" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basik-black);
}

.site-navigation {
  list-style: none;
}

/* User Navigation */

.site navigation a,
.user navigation {
  color: var(--basik-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basik-extra-red);
}

/* Products */

.products-list {
  list-style: none;
}

.product-item {
  text-align: center;
}

.product-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #FB565A;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #E74246
}

.button:disabled,
.button:disabled {
  background-color: #FB565A;
}

/* Contacts */

.contact-phone {
  color: inherit;
}

/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: #FFFFFF;
  border: 2px solid #D7DCDE;
}

.appointment-item input:focus {
  border-color: #000000;
}

.appointmen-close:hover,
.appointment-close:focus {
  background-color: #FB565A;
}

.appointment h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

.appointment-item label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

/* Main Footer */

.main-footer {
  color: #666666;
  background-color: #FFFFFF;
  background-position: absolute;
}

.footer-contacts p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer-discount h2 {
  font-weight: 660;
  font-size: 36px;
  line-height: 36px;
}

.footer-discount p {
  font-family: "Roboto" Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  background-color: #000000;
}

/* Social Button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: #E74246;
}





